.red{
    background-image: linear-gradient(to bottom,blue,red);
    
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.white{
    color: white;
}
.bluecyan{
    background-image: linear-gradient(to bottom,blue,cyan);
}
.blue{
    background-color: blue;
}

.redrow{
    background-image: linear-gradient(to bottom,blue,red);
}
.green{
    background-color: green;
}
.home{
    color: white;
    font-size: 25px;
    margin-top: 70px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.sixteenxnine{
    width: 320px;
    height: 180px;
}
.smalltext{
    font-size: 15px;
}