.red{
    background-image: linear-gradient(to bottom,blue,red);
}
.white{
    color: white;
}
.bluecyan{
    background-image: linear-gradient(to bottom,blue,cyan);
}
.blue{
    background-color: blue;
}

.redrow{
    background-image: linear-gradient(to bottom,blue,red);
}
.green{
    background-color: green;
}